/* TABLE */
table {
    width: 100%;
    margin-bottom: 2rem;
}
td,
thead th{
    border-collapse: collapse;
    border: 1.5px solid rgba(68, 68, 68, 0.078);
}
th {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-collapse: none;
}
.table-data-titles{
    color: white;
    background-image: linear-gradient(to left, rgb(250, 195, 212), rgba(254, 52, 146, 0.779));
}